SITE_NAME="REPLACE_ME"

APP_URL=https://ssl.novu.io

BACKEND_URL=http://REPLACE_ME-cms.novu.io
API_URL=http://REPLACE_ME-cms.novu.io/api
GQL_HOST=http://REPLACE_ME-cms.novu.io/graphql
GQL_APQ_ENABLED=true

CLOUDINARY_BASE_URL=https://res.cloudinary.com/REPLACE_ME-cms

